<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
      {{blog.title}}
    </h2>
    <h3>
      By: {{blog.author}}
    </h3>
    <h4>
    {{format_date blog.date}}
    </h4>
  </div>
  <div class="container">
    <div class="row" id="blogPost">
      <div class="col-md-12">
        <p>{{blog.body}}</p>
      </div>
    </div>