<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
      {{blog_title}}
    </h2>
    <h3>
      By: {{blog_author}}
    </h3>
    <h4>
    {{format_date blog_date}}
    </h4>
  </div>
  <div class="container">
    <div class="row" id="blogPost">
      <div class="col-md-12">
        <p>{{this.blog_body}}</p>
      </div>
    </div>
          <div class="break"></div>
  </div>
  <div class="col-md-12 text-center" id="newPostDiv">
  <button type="button" class="newPost" value="Submit">
  +New Post
  </button>
</div>
</div>


<script src="/js/new-post.js"></script>
