<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
      {{username}}'s Blogs
    </h2>
  </div>
  <div class="container">
    {{#each blogs}}
    {{!-- run each statement here up to 4 posts --}}
    <a href="/dashboard/{{this.id}}" id="blogLink">
    <div class="row" id="blogPostDash">
        <div class="col-md-8">
          <h3>{{this.title}}</h3>
        </div>
        <div class="col-md-4">
          {{format_date this.date}}
        </div>
    </div>
    </a>
    {{/each}}
    {{!-- end of each statement here  --}}
