<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
      Latest Blogs
    </h2>
  </div>
  <div class="container">
    {{#each blogs}}
    {{!-- run each statement here up to 4 posts --}}
    <div class="row" id="blogPost">
      <div class="col-md-12">{{this.blog_author}} : {{this.blog_date}}</div>
      <div class="col-md-12">
        <h3>{{this.blog_title}}</h3><br>
        <p>{{this.blog_body}}</p>
      </div>
    </div>
    {{/each}}
    {{!-- end of each statement here  --}}
  </div>
  <div class="col-md-12 text-center">
  <button type="button" class="newPost" value="Submit">
  +New Post
  </button>
</div>
</div>


<script src="/js/new-post.js"></script>
