<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
     {{username}}'s New Blog Post
    </h2>
  </div>
  <div class="container">
  <form class="form update-blog-form">
      <div class="form-group-update">
        <label for="blog-title">Title:</label>
        <input class="form-input-update" type="text" id="blog-title" name="blog-title" data-id="test" value="" />
      </div>
      <div class="form-group-update">
        <label for="blog-body">Body:</label>
        <textarea class="form-input-update-body" id="blog-body" name="blog-body" ></textarea>
      </div>
      <div class="form-group-update">
        <button type="submit" class="btn btn-primary createBtn" id="createBtn">Submit</button>
      </div>
    </form>
  </div>
</div>

